@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@900&display=swap");
.margin-logo {
  margin-top: 18px;
  margin-right: 10px;
  margin-left: 10px;
}

.size_photo {
  width: 325px;
  height: 175px;
  border-radius: 5% 5% 0% 0%;
}

.margin0 {
  margin: 0;
}

.text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.souligne {
  border-bottom: 2px solid #91EED8;
  width: 10px;
}

.contact {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

.margeh2 {
  margin-right: 180px;
}

@keyframes fondu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heart {
  100% {
    font-weight: bold;
    color: #ab3493;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
    transform: scale(0);
  }
}
.fa-check {
  margin-left: 12px;
  margin-top: 15px;
  color: #91EED8;
  background-color: white;
  border-radius: 50%;
  padding: 3px;
  transform: rotate(0turn);
  transition: transform 1000ms ease-in-out;
}

.box {
  width: 50px;
  position: relative;
  left: 20px;
  height: 100%;
  background-color: #91EED8;
  border-radius: 10%;
}

h1 {
  font-family: "Sansita Swashed", cursive;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

p {
  font-family: "Roboto", sans-serif;
}

h4 {
  font-family: "Secular One", sans-serif;
  font-size: 1.2em;
}

.header__logo {
  width: 130px;
}

.titre_principal {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.fleche {
  color: black;
  position: relative;
  right: 110px;
}

/*Main*/
.loading {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-left: 10px solid #99E2D0;
  border-right: 10px solid #EEEEEE;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spinner 3s linear forwards;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.heart_shape {
  position: absolute;
  font-size: 20px;
  left: 270px;
  bottom: 30px;
}

.fa-heart {
  color: black;
  cursor: pointer;
}
.fa-heart:hover {
  animation: heart 1ms forwards;
}

.bloc_situation {
  display: flex;
  flex-direction: row;
  background-color: #BDBDBD;
  justify-content: center;
}

.fa-map-marker-alt {
  margin-left: 8px;
}

.book {
  text-align: center;
  background-color: #EEEEEE;
  padding-bottom: 40px;
  padding-top: 5px;
}
.book__buttons {
  margin-top: 50px;
  margin-bottom: 20px;
}
.book__buttons__style {
  border: 1px solid #b250c4;
  padding: 20px 20px 20px;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #b250c4;
  box-shadow: 1px 1px 15px #BDBDBD;
}
.book__buttons__style:hover {
  box-shadow: 1px 1px 15px #9356DC;
  background-color: #b95ec9;
}

.how {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  margin-left: 10px;
}
.how__chose {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #FAFAFA;
  width: 300px;
  padding: 0px 20px 0px;
  border-radius: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
}
.how__chose:hover {
  box-shadow: 1px 1px 15px #dbcccc;
}
.how__chose__number {
  position: absolute;
  left: -8px;
  border: 1px solid #b250c4;
  border-radius: 100%;
  background-color: #b250c4;
  color: white;
  font-size: 0.9em;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.how__chose__number:hover {
  box-shadow: 1px 1px 15px #dbcccc;
}
.how__create {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #FAFAFA;
  width: 300px;
  padding: 0px 20px 0px;
  border-radius: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
}
.how__create:hover {
  box-shadow: 1px 1px 15px #dbcccc;
}
.how__create__number {
  position: absolute;
  left: -8px;
  border: 1px solid #b250c4;
  border-radius: 100%;
  background-color: #b250c4;
  color: white;
  font-size: 0.9em;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.how__create__number:hover {
  box-shadow: 1px 1px 15px #dbcccc;
}
.how__go {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #FAFAFA;
  width: 300px;
  padding: 0px 20px 0px;
  border-radius: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
}
.how__go:hover {
  box-shadow: 1px 1px 15px #dbcccc;
}
.how__go__number {
  position: absolute;
  left: -8px;
  border: 1px solid #b250c4;
  border-radius: 100%;
  background-color: #b250c4;
  color: white;
  font-size: 0.9em;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.how__go__number:hover {
  box-shadow: 1px 1px 15px #dbcccc;
}

.new {
  border: 1px solid #91EED8;
  border-radius: 4px;
  position: absolute;
  left: 225px;
  background-color: #91EED8;
  color: #2d816e;
  padding: 5px 20px 5px 20px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEEEEE;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.restaurants__palette {
  position: relative;
  width: 325px;
  margin-left: 13px;
  margin-bottom: 15px;
  padding-bottom: 2px;
  border-radius: 5%;
  background-color: white;
}
.restaurants__palette__button {
  text-decoration: none;
}
.restaurants__palette__titre {
  margin-top: -12px;
  margin-bottom: -15px;
  margin-left: 8px;
  color: black;
}
.restaurants__palette__ville {
  margin-left: 10px;
  color: black;
}
.restaurants__enchanted {
  position: relative;
  width: 325px;
  margin-left: 13px;
  margin-bottom: 15px;
  padding-bottom: 2px;
  border-radius: 5%;
  background-color: white;
}
.restaurants__enchanted__button {
  text-decoration: none;
}
.restaurants__enchanted__titre {
  margin-top: -12px;
  margin-bottom: -15px;
  margin-left: 8px;
  color: black;
}
.restaurants__enchanted__ville {
  margin-left: 10px;
  color: black;
}
.restaurants__bastille {
  position: relative;
  width: 325px;
  margin-left: 13px;
  margin-bottom: 15px;
  padding-bottom: 2px;
  border-radius: 5%;
  background-color: white;
}
.restaurants__bastille__button {
  text-decoration: none;
}
.restaurants__bastille__titre {
  margin-top: -12px;
  margin-bottom: -15px;
  margin-left: 8px;
  color: black;
}
.restaurants__bastille__ville {
  margin-left: 10px;
  color: black;
}
.restaurants__gourmand {
  position: relative;
  width: 325px;
  margin-left: 13px;
  margin-bottom: 15px;
  padding-bottom: 2px;
  border-radius: 5%;
  background-color: white;
}
.restaurants__gourmand__button {
  text-decoration: none;
}
.restaurants__gourmand__titre {
  margin-top: -12px;
  margin-bottom: -15px;
  margin-left: 8px;
  color: black;
}
.restaurants__gourmand__ville {
  margin-left: 10px;
  color: black;
}

.button {
  text-align: center;
  background-color: #EEEEEE;
  margin-left: -20px;
  padding-bottom: 40px;
  padding-top: 5px;
}
.button__order {
  margin-top: 30px;
  margin-bottom: 20px;
}
.button__order__style {
  border: 1px solid #b250c4;
  padding: 20px 80px;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #b250c4;
  box-shadow: 1px 1px 15px #BDBDBD;
}
.button__order__style:hover {
  box-shadow: 1px 1px 15px #9356DC;
  background-color: #b95ec9;
}

/*Palette*/
.heart_palette {
  position: absolute;
  font-size: 20px;
  top: 45px;
  left: 320px;
  color: black;
}

.size_photo_palette {
  width: 100%;
  height: 250px;
  background: url(images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.palette {
  position: relative;
  border: 2px solid #EEEEEE;
  border-radius: 6% 6% 0% 0%;
  background-color: #EEEEEE;
  margin-top: -50px;
}
.palette__titre {
  margin-top: 30px;
  margin-left: 15px;
}
.palette__entree {
  margin-left: 20px;
}
.palette__entree__escargot {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 150ms forwards;
}
.palette__entree__escargot:hover .palette__entree__escargot__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.palette__entree__escargot:hover .palette__entree__escargot__price .fa-check {
  transform: rotate(-1turn);
}
.palette__entree__escargot__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.palette__entree__escargot__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 77px;
}
.palette__entree__duck {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1000ms forwards;
}
.palette__entree__duck:hover .palette__entree__duck__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.palette__entree__duck:hover .palette__entree__duck__price .fa-check {
  transform: rotate(-1turn);
}
.palette__entree__duck__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.palette__entree__duck__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 93px;
}
.palette__entree__fried {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1500ms forwards;
}
.palette__entree__fried:hover .palette__entree__fried__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.palette__entree__fried:hover .palette__entree__fried__price .fa-check {
  transform: rotate(-1turn);
}
.palette__entree__fried__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.palette__entree__fried__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 190px;
}
.palette__maindish {
  background-color: #EEEEEE;
  margin-left: 20px;
  margin-top: 20px;
}
.palette__maindish__herb {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 150ms forwards;
}
.palette__maindish__herb:hover .palette__maindish__herb__description {
  width: 180px;
}
.palette__maindish__herb:hover .palette__maindish__herb__price {
  transform: translateX(-68%);
  margin-left: 40px;
}
.palette__maindish__herb:hover .palette__maindish__herb__price .fa-check {
  transform: rotate(-1turn);
}
.palette__maindish__herb__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.palette__maindish__herb__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 38px;
}
.palette__maindish__ox {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1000ms forwards;
}
.palette__maindish__ox:hover .palette__maindish__ox__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.palette__maindish__ox:hover .palette__maindish__ox__price .fa-check {
  transform: rotate(-1turn);
}
.palette__maindish__ox__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.palette__maindish__ox__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 35px;
}
.palette__maindish__filet {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1500ms forwards;
}
.palette__maindish__filet:hover .palette__maindish__filet__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.palette__maindish__filet:hover .palette__maindish__filet__price .fa-check {
  transform: rotate(-1turn);
}
.palette__maindish__filet__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.palette__maindish__filet__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 135px;
}
.palette__dessert {
  background-color: #EEEEEE;
  padding-bottom: 30px;
  margin-left: 20px;
}
.palette__dessert__paris {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 150ms forwards;
}
.palette__dessert__paris:hover .palette__dessert__paris__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.palette__dessert__paris:hover .palette__dessert__paris__price .fa-check {
  transform: rotate(-1turn);
}
.palette__dessert__paris__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.palette__dessert__paris__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 177px;
}
.palette__dessert__macaroons {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1000ms forwards;
}
.palette__dessert__macaroons:hover .palette__dessert__macaroons__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.palette__dessert__macaroons:hover .palette__dessert__macaroons__price .fa-check {
  transform: rotate(-1turn);
}
.palette__dessert__macaroons__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.palette__dessert__macaroons__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 102px;
}
.palette__dessert__mousse {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1500ms forwards;
}
.palette__dessert__mousse:hover .palette__dessert__mousse__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.palette__dessert__mousse:hover .palette__dessert__mousse__price .fa-check {
  transform: rotate(-1turn);
}
.palette__dessert__mousse__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.palette__dessert__mousse__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 80px;
}

/*enchanted*/
.heart_enchanted {
  position: absolute;
  font-size: 20px;
  top: 45px;
  left: 345px;
  color: black;
}

.size_photo_enchanted {
  width: 100%;
  height: 250px;
  background: url(images/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.enchanted {
  position: relative;
  border: 2px solid #EEEEEE;
  border-radius: 6% 6% 0% 0%;
  background-color: #EEEEEE;
  margin-top: -50px;
}
.enchanted__titre {
  margin-top: 30px;
  margin-left: 15px;
}
.enchanted__entree {
  margin-left: 20px;
}
.enchanted__entree__foie {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 150ms forwards;
}
.enchanted__entree__foie:hover .enchanted__entree__foie__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.enchanted__entree__foie:hover .enchanted__entree__foie__price .fa-check {
  transform: rotate(-1turn);
}
.enchanted__entree__foie__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.enchanted__entree__foie__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 135px;
}
.enchanted__entree__oscietra {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1000ms forwards;
}
.enchanted__entree__oscietra:hover .enchanted__entree__oscietra__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.enchanted__entree__oscietra:hover .enchanted__entree__oscietra__price .fa-check {
  transform: rotate(-1turn);
}
.enchanted__entree__oscietra__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.enchanted__entree__oscietra__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 125px;
}
.enchanted__entree__lobster {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1500ms forwards;
}
.enchanted__entree__lobster:hover .enchanted__entree__lobster__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.enchanted__entree__lobster:hover .enchanted__entree__lobster__price .fa-check {
  transform: rotate(-1turn);
}
.enchanted__entree__lobster__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.enchanted__entree__lobster__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 90px;
}
.enchanted__entree__duck {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 2000ms forwards;
}
.enchanted__entree__duck:hover .enchanted__entree__duck__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.enchanted__entree__duck:hover .enchanted__entree__duck__price .fa-check {
  transform: rotate(-1turn);
}
.enchanted__entree__duck__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.enchanted__entree__duck__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 62px;
}
.enchanted__maindish {
  background-color: #EEEEEE;
  margin-left: 20px;
  margin-top: 20px;
}
.enchanted__maindish__fresh {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 150ms forwards;
}
.enchanted__maindish__fresh:hover .enchanted__maindish__fresh__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.enchanted__maindish__fresh:hover .enchanted__maindish__fresh__price .fa-check {
  transform: rotate(-1turn);
}
.enchanted__maindish__fresh__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.enchanted__maindish__fresh__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 90px;
}
.enchanted__maindish__pan {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1000ms forwards;
}
.enchanted__maindish__pan:hover .enchanted__maindish__pan__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.enchanted__maindish__pan:hover .enchanted__maindish__pan__price .fa-check {
  transform: rotate(-1turn);
}
.enchanted__maindish__pan__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.enchanted__maindish__pan__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 80px;
}
.enchanted__maindish__braised {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1500ms forwards;
}
.enchanted__maindish__braised:hover .enchanted__maindish__braised__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.enchanted__maindish__braised:hover .enchanted__maindish__braised__price .fa-check {
  transform: rotate(-1turn);
}
.enchanted__maindish__braised__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.enchanted__maindish__braised__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 80px;
}
.enchanted__dessert {
  background-color: #EEEEEE;
  padding-bottom: 30px;
  margin-left: 20px;
}
.enchanted__dessert__hazelnut {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 150ms forwards;
}
.enchanted__dessert__hazelnut:hover .enchanted__dessert__hazelnut__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.enchanted__dessert__hazelnut:hover .enchanted__dessert__hazelnut__price .fa-check {
  transform: rotate(-1turn);
}
.enchanted__dessert__hazelnut__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.enchanted__dessert__hazelnut__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 40px;
}
.enchanted__dessert__baba {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1000ms forwards;
}
.enchanted__dessert__baba:hover .enchanted__dessert__baba__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.enchanted__dessert__baba:hover .enchanted__dessert__baba__price .fa-check {
  transform: rotate(-1turn);
}
.enchanted__dessert__baba__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.enchanted__dessert__baba__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 150px;
}
.enchanted__dessert__lemon {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1500ms forwards;
}
.enchanted__dessert__lemon:hover .enchanted__dessert__lemon__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.enchanted__dessert__lemon:hover .enchanted__dessert__lemon__price .fa-check {
  transform: rotate(-1turn);
}
.enchanted__dessert__lemon__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.enchanted__dessert__lemon__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 110px;
}

/*gourmand*/
.heart_gourmand {
  position: absolute;
  font-size: 20px;
  top: 45px;
  left: 320px;
  color: black;
}

.size_photo_gourmand {
  width: 100%;
  height: 250px;
  background: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.gourmand {
  position: relative;
  border: 2px solid #EEEEEE;
  border-radius: 6% 6% 0% 0%;
  background-color: #EEEEEE;
  margin-top: -50px;
}
.gourmand__titre {
  margin-top: 30px;
  margin-left: 15px;
}
.gourmand__entree {
  margin-left: 20px;
}
.gourmand__entree__tuna {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 150ms forwards;
}
.gourmand__entree__tuna:hover .gourmand__entree__tuna__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.gourmand__entree__tuna:hover .gourmand__entree__tuna__price .fa-check {
  transform: rotate(-1turn);
}
.gourmand__entree__tuna__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.gourmand__entree__tuna__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 135px;
}
.gourmand__entree__crunchy {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1000ms forwards;
}
.gourmand__entree__crunchy:hover .gourmand__entree__crunchy__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.gourmand__entree__crunchy:hover .gourmand__entree__crunchy__price .fa-check {
  transform: rotate(-1turn);
}
.gourmand__entree__crunchy__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.gourmand__entree__crunchy__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 65px;
}
.gourmand__entree__mushroom {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1500ms forwards;
}
.gourmand__entree__mushroom:hover .gourmand__entree__mushroom__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.gourmand__entree__mushroom:hover .gourmand__entree__mushroom__price .fa-check {
  transform: rotate(-1turn);
}
.gourmand__entree__mushroom__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.gourmand__entree__mushroom__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 140px;
}
.gourmand__maindish {
  background-color: #EEEEEE;
  margin-left: 20px;
  margin-top: 20px;
}
.gourmand__maindish__roast {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 150ms forwards;
}
.gourmand__maindish__roast:hover .gourmand__maindish__roast__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.gourmand__maindish__roast:hover .gourmand__maindish__roast__price .fa-check {
  transform: rotate(-1turn);
}
.gourmand__maindish__roast__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.gourmand__maindish__roast__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 38px;
}
.gourmand__maindish__roasted {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1000ms forwards;
}
.gourmand__maindish__roasted:hover .gourmand__maindish__roasted__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.gourmand__maindish__roasted:hover .gourmand__maindish__roasted__price .fa-check {
  transform: rotate(-1turn);
}
.gourmand__maindish__roasted__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.gourmand__maindish__roasted__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 102px;
}
.gourmand__maindish__angust {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1500ms forwards;
}
.gourmand__maindish__angust:hover .gourmand__maindish__angust__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.gourmand__maindish__angust:hover .gourmand__maindish__angust__price .fa-check {
  transform: rotate(-1turn);
}
.gourmand__maindish__angust__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.gourmand__maindish__angust__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 113px;
}
.gourmand__dessert {
  background-color: #EEEEEE;
  padding-bottom: 30px;
  margin-left: 20px;
}
.gourmand__dessert__assorted {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 150ms forwards;
}
.gourmand__dessert__assorted:hover .gourmand__dessert__assorted__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.gourmand__dessert__assorted:hover .gourmand__dessert__assorted__price .fa-check {
  transform: rotate(-1turn);
}
.gourmand__dessert__assorted__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.gourmand__dessert__assorted__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 98px;
}
.gourmand__dessert__creme {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1000ms forwards;
}
.gourmand__dessert__creme:hover .gourmand__dessert__creme__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.gourmand__dessert__creme:hover .gourmand__dessert__creme__price .fa-check {
  transform: rotate(-1turn);
}
.gourmand__dessert__creme__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.gourmand__dessert__creme__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 160px;
}
.gourmand__dessert__tiramisu {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1500ms forwards;
}
.gourmand__dessert__tiramisu:hover .gourmand__dessert__tiramisu__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.gourmand__dessert__tiramisu:hover .gourmand__dessert__tiramisu__price .fa-check {
  transform: rotate(-1turn);
}
.gourmand__dessert__tiramisu__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.gourmand__dessert__tiramisu__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 168px;
}

/*bastille*/
.heart_bastille {
  position: absolute;
  font-size: 20px;
  top: 45px;
  left: 320px;
  color: black;
}

.size_photo_bastille {
  width: 100%;
  height: 250px;
  background: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.bastille {
  position: relative;
  border: 2px solid #EEEEEE;
  border-radius: 6% 6% 0% 0%;
  background-color: #EEEEEE;
  margin-top: -50px;
}
.bastille__titre {
  margin-top: 30px;
  margin-left: 15px;
}
.bastille__entree {
  margin-left: 20px;
}
.bastille__entree__citrus {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 150ms forwards;
}
.bastille__entree__citrus:hover .bastille__entree__citrus__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.bastille__entree__citrus:hover .bastille__entree__citrus__price .fa-check {
  transform: rotate(-1turn);
}
.bastille__entree__citrus__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.bastille__entree__citrus__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 90px;
}
.bastille__entree__grandmother {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1000ms forwards;
}
.bastille__entree__grandmother:hover .bastille__entree__grandmother__description {
  width: 180px;
}
.bastille__entree__grandmother:hover .bastille__entree__grandmother__price {
  transform: translateX(-68%);
  margin-left: 40px;
}
.bastille__entree__grandmother:hover .bastille__entree__grandmother__price .fa-check {
  transform: rotate(-1turn);
}
.bastille__entree__grandmother__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.bastille__entree__grandmother__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 35px;
}
.bastille__entree__onion {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1500ms forwards;
}
.bastille__entree__onion:hover .bastille__entree__onion__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.bastille__entree__onion:hover .bastille__entree__onion__price .fa-check {
  transform: rotate(-1turn);
}
.bastille__entree__onion__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.bastille__entree__onion__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 175px;
}
.bastille__maindish {
  background-color: #EEEEEE;
  margin-left: 20px;
  margin-top: 20px;
}
.bastille__maindish__scallops {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 150ms forwards;
}
.bastille__maindish__scallops:hover .bastille__maindish__scallops__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.bastille__maindish__scallops:hover .bastille__maindish__scallops__price .fa-check {
  transform: rotate(-1turn);
}
.bastille__maindish__scallops__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.bastille__maindish__scallops__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 130px;
}
.bastille__maindish__magret {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1000ms forwards;
}
.bastille__maindish__magret:hover .bastille__maindish__magret__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.bastille__maindish__magret:hover .bastille__maindish__magret__price .fa-check {
  transform: rotate(-1turn);
}
.bastille__maindish__magret__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.bastille__maindish__magret__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 120px;
}
.bastille__maindish__game {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1500ms forwards;
}
.bastille__maindish__game:hover .bastille__maindish__game__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.bastille__maindish__game:hover .bastille__maindish__game__price .fa-check {
  transform: rotate(-1turn);
}
.bastille__maindish__game__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.bastille__maindish__game__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 110px;
}
.bastille__dessert {
  background-color: #EEEEEE;
  padding-bottom: 30px;
  margin-left: 20px;
}
.bastille__dessert__floral {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 150ms forwards;
}
.bastille__dessert__floral:hover .bastille__dessert__floral__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.bastille__dessert__floral:hover .bastille__dessert__floral__price .fa-check {
  transform: rotate(-1turn);
}
.bastille__dessert__floral__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.bastille__dessert__floral__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 135px;
}
.bastille__dessert__lava {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1000ms forwards;
}
.bastille__dessert__lava:hover .bastille__dessert__lava__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.bastille__dessert__lava:hover .bastille__dessert__lava__price .fa-check {
  transform: rotate(-1turn);
}
.bastille__dessert__lava__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.bastille__dessert__lava__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 105px;
}
.bastille__dessert__napolean {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 10px;
  padding-left: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: fondu 1000ms 1500ms forwards;
}
.bastille__dessert__napolean:hover .bastille__dessert__napolean__price {
  transform: translateX(-68%);
  margin-left: 0px;
}
.bastille__dessert__napolean:hover .bastille__dessert__napolean__price .fa-check {
  transform: rotate(-1turn);
}
.bastille__dessert__napolean__description {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  overflow: hidden;
}
.bastille__dessert__napolean__price {
  display: flex;
  flex-direction: row;
  transition: transform 1000ms ease-in-out;
  position: relative;
  left: 69px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 190px;
  background-color: #212121;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
}
.footer__logo {
  width: 90px;
  margin-left: 25px;
  margin-top: 20px;
}
.footer__suggest {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}
.footer__partner {
  display: flex;
  flex-direction: row;
  margin-left: 12px;
  margin-top: -15px;
}
.footer__legal {
  margin-left: 25px;
  margin-top: -15px;
}
.footer__contact {
  margin-left: 25px;
  margin-top: -5px;
}

@media screen and (max-height: 480px) {
  /* Téléphone horizontal*/
  .size_photo_bastille, .size_photo_palette, .size_photo_gourmand, .size_photo_enchanted {
    display: none;
  }

  .footer__logo {
    padding-right: 250px;
  }
  .footer__suggest {
    padding-right: 200px;
  }
  .footer__partner {
    padding-right: 210px;
  }
  .footer__legal {
    padding-right: 310px;
  }
  .footer__contact {
    padding-right: 295px;
  }
}
@media screen and (max-width: 480px) {
  /* Téléphone vertical*/
  .footer {
    align-items: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
