
.bloc_principal {
    display: flex;
    flex-direction: column;
    width: 375px;
    margin: auto;
}

h1 {
    font-family: 'Sansita Swashed', cursive;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

p {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Secular One', sans-serif;
    font-size: 1.2em;
}

.margin-logo {
    margin-top: 18px;
    margin-right: 10px;
    margin-left: 10px;
}

.size_photo {
    width: 325px;
    height: 175px;
    border-radius: 5% 5% 0% 0%;
}

.margin0 {
    margin: 0;
}

.text {
    width: 225px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}