/*bastille*/

.heart_bastille {
    position: relative;
    font-size: 20px;
    top: 25px;
    left: 190px;
    color: black;
}

.size_photo_bastille {
    width: 100%;
    height: 250px; 
    background: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);   
}

.bastille {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 2px solid $color-grey;
    border-radius: 6% 6% 0% 0%;
    background-color: $color-grey;
    margin-top: -50px;

    &__titre {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-left: -205px;
    }

    &__entree {
        &__citrus {
            @include buttons_palette;
            @include animation(150ms);
            &:hover {
                .bastille__entree__citrus__price {
                    @include animationprice(0px);
                }
            }
            
            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(90px);
            }
        }

        &__grandmother {
            @include buttons_palette;
            @include animation (1000ms);
            &:hover {
                .bastille__entree__grandmother__description {
                    width: 180px;
                }
                .bastille__entree__grandmother__price {
                    @include animationprice(40px);
                }
            }
            
            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(35px);
            }
        }

        &__onion {
            @include buttons_palette;
            @include animation (1500ms);
            &:hover {
                .bastille__entree__onion__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(175px);
            }
        }
    }

    &__maindish {
        background-color: #EEEEEE;
        margin-top: 20px;

        &__scallops {
            @include buttons_palette;
            @include animation(150ms);
            &:hover {
                .bastille__maindish__scallops__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(130px);
            }
        }

        &__magret {
            @include buttons_palette;
            @include animation(1000ms);
            &:hover {
                .bastille__maindish__magret__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(120px);
            }
        }

        &__game {
            @include buttons_palette;
            @include animation(1500ms);
            &:hover {
                .bastille__maindish__game__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(110px);
            }
        }
    }

    &__dessert {
        background-color: #EEEEEE;
        padding-bottom: 30px;

        &__floral {
            @include buttons_palette;
            @include animation(150ms);
            &:hover {
                .bastille__dessert__floral__price {
                    @include animationprice(0px);
                }
            }
            
            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(135px);
            }
        }

        &__lava {
            @include buttons_palette;
            @include animation(1000ms);
            &:hover {
                .bastille__dessert__lava__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(105px);
            }
        }

        &__napolean {
            @include buttons_palette;
            @include animation(1500ms);
            &:hover {
                .bastille__dessert__napolean__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(69px);
            }
        }
    }
}