
/*enchanted*/

.heart_enchanted {
    position: absolute;
    font-size: 20px;
    top: 45px;
    left: 345px;
    color: black;
}

.size_photo_enchanted {
    width: 100%;
    height: 250px; 
    background: url(images/stil-u2Lp8tXIcjw-unsplash.jpg);   
}

.enchanted {
    position: relative;
    border: 2px solid $color-grey;
    border-radius: 6% 6% 0% 0%;
    background-color: $color-grey;
    margin-left: -15px;
    margin-top: -50px;

    &__titre {
        margin-top: 30px;
        margin-left: 15px;
    }

    &__entree {
        margin-left: 20px;
        &__foie {
            @include buttons_palette;
            @include animation(150ms);
            &:hover {
                .enchanted__entree__foie__price {
                    @include animationprice(0px);
                }
            }
            
            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(135px);
            }
        }

        &__oscietra {
            @include buttons_palette;
            @include animation (1000ms);
            &:hover {
                .enchanted__entree__oscietra__price {
                    @include animationprice(0px);
                }
            }
            

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(125px);
            }
        }

        &__lobster {
            @include buttons_palette;
            @include animation (1500ms);
            &:hover {
                .enchanted__entree__lobster__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(90px);
            }
        }
    

        &__duck {
            @include buttons_palette;
            @include animation (2000ms);
            &:hover {
                .enchanted__entree__duck__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(62px);
            }
        }
    }

    &__maindish {
        background-color: #EEEEEE;
        margin-left: 20px;
        margin-top: 20px;

        &__fresh {
            @include buttons_palette;
            @include animation(150ms);
            &:hover {
                .enchanted__maindish__fresh__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(90px);
            }
        }

        &__pan {
            @include buttons_palette;
            @include animation(1000ms);
            &:hover {
                .enchanted__maindish__pan__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(80px);
            }
        }

        &__braised {
            @include buttons_palette;
            @include animation(1500ms);
            &:hover {
                .enchanted__maindish__braised__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(80px);
            }
        }
    }

    &__dessert {
        background-color: #EEEEEE;
        padding-bottom: 30px;
        margin-left: 20px;

        &__hazelnut {
            @include buttons_palette;
            @include animation(150ms);
            &:hover {
                .enchanted__dessert__hazelnut__price {
                    @include animationprice(0px);
                }
            }
            
            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(40px);
            }
        }

        &__baba {
            @include buttons_palette;
            @include animation(1000ms);
            &:hover {
                .enchanted__dessert__baba__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(150px);
            }
        }

        &__lemon {
            @include buttons_palette;
            @include animation(1500ms);
            &:hover {
                .enchanted__dessert__lemon__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(110px);
            }
        }
    }
}