
/*gourmand*/

.heart_gourmand {
    position: absolute;
    font-size: 20px;
    top: 45px;
    left: 320px;
    color: black;
}

.size_photo_gourmand {
    width: 100%;
    height: 250px;
    background: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) no-repeat;   
}

.gourmand {
    position: relative;
    border: 2px solid $color-grey;
    border-radius: 6% 6% 0% 0%;
    background-color: $color-grey;
    margin-top: -50px;

    &__titre {
        margin-top: 30px;
        margin-left: 15px;
    }

    &__entree {
        margin-left: 20px;
        &__tuna {
            @include buttons_palette;
            @include animation(150ms);
            
            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(135px);
            }
        }

        &__crunchy {
            @include buttons_palette;
            @include animation (1000ms);
            

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(65px);
            }
        }

        &__mushroom {
            @include buttons_palette;
            @include animation (1500ms);

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(142px);
            }
        }
    }

    &__maindish {
        background-color: #EEEEEE;
        margin-left: 20px;
        margin-top: 20px;

        &__roast {
            @include buttons_palette;
            @include animation(150ms);

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(0px);
            }
        }

        &__roasted {
            @include buttons_palette;
            @include animation(1000ms);

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(105px);
            }
        }

        &__angust {
            @include buttons_palette;
            @include animation(1500ms);

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(115px);
            }
        }
    }

    &__dessert {
        background-color: #EEEEEE;
        padding-bottom: 30px;
        margin-left: 20px;

        &__assorted {
            @include buttons_palette;
            @include animation(150ms);
            
            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(95px);
            }
        }

        &__creme {
            @include buttons_palette;
            @include animation(1000ms);

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(160px);
            }
        }

        &__tiramisu {
            @include buttons_palette;
            @include animation(1500ms);

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(168px);
            }
        }
    }
}