
/*gourmand*/

.heart_gourmand {
    position: absolute;
    font-size: 20px;
    top: 35px;
    left: 250px;
    color: black;
}

.size_photo_gourmand {
    background-image: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    width: 380px;
    height: 260px; 
    margin-left: -10px;
}

.gourmand {
    position: relative;
    border: 2px solid $color-grey;
    width: 400px;
    border-radius: 10% 10% 0% 0%;
    background-color: $color-grey;
    margin-left: -23px;
    margin-top: -50px;

    &__titre {
        margin-top: 30px;
        margin-left: 25px;
    }

    &__entree {
        margin-left: 30px;

        &__tuna {
            @include buttons_palette(1px);
            
            &__description {
                @include description_palette;

                &__price {
                    @include price_palette(140px);
                }
            }
        }

        &__crunchy {
            @include buttons_palette(1px);

            &__description {
                @include description_palette;

                &__price {
                    @include price_palette(105px);
                }
            }
        }

        &__mushroom {
            @include buttons_palette(1px);

            &__description {
                @include description_palette;

                &__price {
                    @include price_palette(185px);
                }
            }
        }
    }

    &__maindish {
        margin-left: 10px;
        background-color: #EEEEEE;
        padding-left: 20px;

        &__roast {
            @include buttons_palette(0px);
            
            &__description {
                @include description_palette;

                &__price {
                    @include price_palette(150px);
                }
            }
        }

        &__roasted {
            @include buttons_palette(1px);

            &__description {
                @include description_palette;

                &__price {
                    @include price_palette(107px);
                }
            }
        }

        &__angust {
            @include buttons_palette(1px);

            &__description {
                @include description_palette;

                &__price {
                    @include price_palette(118px);
                }
            }
        }
    }

    &__dessert {
        background-color: #EEEEEE;
        padding-bottom: 30px;

        &__assorted {
            @include buttons_palette(1px);
            
            &__description {
                @include description_palette;

                &__price {
                    @include price_palette(180px);
                }
            }
        }

        &__creme {
            @include buttons_palette(1px);

            &__description {
                @include description_palette;

                &__price {
                    @include price_palette(206px);
                }
            }
        }

        &__tiramisu {
            @include buttons_palette(1px);

            &__description {
                @include description_palette;

                &__price {
                    @include price_palette(175px);
                }
            }
        }
    }
}