
/*Palette*/

.heart_palette {
    position: relative;
    font-size: 20px;
    top: 25px;
    left: 130px;
    color: black;
}

.size_photo_palette {
    width: 100%;
    height: 250px;
    background: url(images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);   
}

.palette {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 2px solid $color-grey;
    border-radius: 6% 6% 0% 0%;
    background-color: $color-grey;
    margin-top: -50px;

    &__titre {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-left: -125px;
    }

    &__entree {
        &__escargot {
            @include buttons_palette;
            @include animation(150ms);
            &:hover {
                .palette__entree__escargot__price {
                    @include animationprice(0px);
                }
            }
            
            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(77px);
            }
        }

        &__duck {
            @include buttons_palette;
            @include animation (1000ms);
            &:hover {
                .palette__entree__duck__price {
                    @include animationprice(0px);
                }
            }
            
            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(93px);
            }
        }

        &__fried {
            @include buttons_palette;
            @include animation (1500ms);
            &:hover {
                .palette__entree__fried__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(190px);
            }
        }
    }

    &__maindish {
        background-color: #EEEEEE;
        margin-top: 20px;

        &__herb {
            @include buttons_palette;
            @include animation(150ms);
            &:hover {
                .palette__maindish__herb__description {
                    width: 180px;
                }
                .palette__maindish__herb__price {
                    @include animationprice(40px);
                }
            }

                &__description {
                    @include description_palette;

                }

                &__price {
                    @include price_palette(38px);
                }
        }

        &__ox {
            @include buttons_palette;
            @include animation(1000ms);
            &:hover {
                .palette__maindish__ox__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(35px);
            }
        }

        &__filet {
            @include buttons_palette;
            @include animation(1500ms);
            &:hover {
                .palette__maindish__filet__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(135px);
            }
        }
    }

    &__dessert {
        background-color: #EEEEEE;
        padding-bottom: 30px;
     

        &__paris {
            @include buttons_palette;
            @include animation(150ms);
            &:hover {
                .palette__dessert__paris__price {
                    @include animationprice(0px);
                }
            }
            
            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(177px);
            }
        }

        &__macaroons {
            @include buttons_palette;
            @include animation(1000ms);
            &:hover {
                .palette__dessert__macaroons__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(102px);
            }
        }

        &__mousse {
            @include buttons_palette;
            @include animation(1500ms);
            &:hover {
                .palette__dessert__mousse__price {
                    @include animationprice(0px);
                }
            }

            &__description {
                @include description_palette;
            }

            &__price {
                @include price_palette(80px);
            }
        }
    }
}