@keyframes fondu{
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes heart{
    100% {
        font-weight: bold;
        color:#ab3493;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
        
    }

    50% {
        transform: rotate(180deg);
        
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
        transform: scale(0);
    }
}

.fa-check {
    margin-left: 12px;
    margin-top: 15px;
    color:#91EED8;
    background-color: white;
    border-radius: 50%;
    padding: 3px;
    transform: rotate(0turn);
    transition: transform 1000ms ease-in-out;
}

@keyframes pageblanche {
    0% {
       transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}