@media screen and (max-height: 480px) {

    .size_photo_bastille, .size_photo_palette, .size_photo_gourmand, .size_photo_enchanted {
        display: none;
    }


/*index*/

    body {
        width: 667px;
    }

    .how {
        &__chose, &__go, &__create  {
            margin-left: 170px;
        }
    }

    .restaurants {
        &__palette, &__bastille, &__enchanted, &__gourmand {
            margin-left: 170px;
        }
    }
}