
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 190px;
    background-color: #212121;
    color: white;
    font-weight: bold;
    font-size: 0.8em;

    &__logo {
        width: 90px;
        margin-left: 25px;
        margin-top: 20px;
    }

    &__suggest {
        display: flex;
        flex-direction: row;
        margin-left: $footer-margin;
    }

    &__partner {
        display: flex;
        flex-direction: row;
        margin-left: 12px;
        margin-top: $footer-margin-top;
    }

    &__legal {
        margin-left: 25px;
        margin-top: $footer-margin-top;
    }

    &__contact {
        margin-left: 25px;
        margin-top: -5px;
    }
}
 
