
.header__logo {
    width: 130px;
}

.titre_principal {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.fleche {
    color: black;
    position: relative;
    right: 110px;
}